* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s linear;
}

#root {
  background-color: $bg-color;
}

.btn-primary {
  background-color: $btn-bg-color;
  border-color: $btn-bg-color;
  font-family: cursive;
  padding: 1.5vh 2.5vw;
  font-weight: 600;

  &:hover {
    background-color: #6c338e;
    border-color: #6c338e;
  }

  &:active {
    background-color: $bg-color !important;
    border-color: $btn-bg-color !important;
  }
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 50%;
  }

  .btn-primary {
    padding: 0.5vh 1.5vw;
    font-size: 1rem !important;
  }
}
